################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/asp-web-online-judge/FileContentIndex/fd8ce148-ea0c-4156-b744-d119702d53ea.vsidx
